{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Cropperjs -->
    <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">

    <!-- markdown-it -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js" integrity="sha512-SYfDUYPg5xspsG6OOpXU366G8SZsdHOhqk/icdrYJ2E/WKZxPxze7d2HD3AyXpT7U22PZ5y74xRpqZ6A2bJ+kQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
        <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/python.min.js" integrity="sha512-U5B5W+dwLVKgk2d4TWuG7p9MFhK8wQtIXmBJSUNRpj2WFMBvYN7CrM+/3jUL80qyVrmdo/bUSq1Na84R67toeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>

    <title>Chat</title>
</head>
<body>
<!-- header -->
{% include 'snippets/header.html' %}
{% include 'snippets/base_css.html' %}
{% include 'snippets/base_js.html' %}

<!-- body -->
<div class="container" id="id_loading_spinner" style="display: none;">
    <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<style type="text/css">
    .main{
        min-height: 100vh;
        height: 100%;
    }
</style>

<div class="main">
    {% block content %}

    {% endblock content %}
</div>

<!-- Footer -->
{% include 'snippets/footer.html' %}

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>

<script type="text/javascript">
    function displayLoadingSpinner(isDisplayed){
        var spinner = document.getElementById("id_loading_spinner")
        if (isDisplayed) {
            spinner.style.display = "block"
        }
        else{
            spinner.style.display = "none"
        }
    }
</script>

</body>
</html>